.button {
  background-color: #4082e6;
  color: white;
  padding: 10px 20px;
  border: 2px solid #4082e6;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin: 1em;
}

.button:hover {
  background-color: #3061b0;
  border-color: #3061b0;
}

.input {
  color: white;  
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 40%;
  margin-left: 20%;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .input {
    width: 70%;
    padding: 1em;
    margin-left: 2%;
    margin-top: 1em;
    
  }

  .button {
    width: 70%;
    padding: 1em;
    margin-left: 2%;
    margin-top: 1em;
  }
}